{% extends "base.html" %}

{% block title %}{{ lesson.title }}{% endblock %}

{% block content %}
<div class="ice-sky-content">
    <div class="glassy-card-container">
        <h1>{{ lesson.title }}</h1>
        <p>Part of: <a href="{{ url_for('main.course_detail', course_id=lesson.module.course.id) }}">{{ lesson.module.course.title }}</a></p>
    </div>

    <div class="lesson-content">
        {% if lesson.video_url %}
        <div class="video-container glassy-card-container">
            <iframe width="100%" style="aspect-ratio: 16/9;" src="{{ lesson.video_url }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        {% endif %}

        {% if lesson.drive_link %}
        <div class="drive-container glassy-card-container">
            <iframe src="{{ lesson.drive_link }}" width="100%" height="480" allow="autoplay"></iframe>
        </div>
        {% endif %}

        {% if lesson.notes %}
        <div class="notes-container glassy-card-container">
            <h2>Notes</h2>
            <div>{{ lesson.notes|secure_embeds|safe }}</div>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}
